* {
  box-sizing: border-box;
  color: white;
  font-family: Garamond, serif;
  transition: all 0.3s;
}

/* Classes */
.banner {
  border-radius: 10vw;
  height: fit-content;
  margin: 5vw 10vw 5vw 10vw;
  opacity: 0;
  padding: 5vw 10vw;
  text-align: justify;
}

.body {
  font-size: 3vw;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.off {
  background: rgba(255, 255, 255, 0.2) !important;
}

.on:hover {
  color: white;
  font-size: 3vw;
  height: 15vw;
  width: 15vw;
}

::placeholder {
  color: white;
}

.traffic-light {
  align-items: center;
  backdrop-filter: blur(4px);
  border-radius: 60vw;
  display: flex;
  font-size: 0vw;
  height: 10vw;
  justify-content: center;
  opacity: 0;
  text-align: center;
  width: 10vw;
  -webkit-backdrop-filter: blur(4px);
}

/* Ids */
#acknowledgement {
  background: coral;
  margin-bottom: 12vw;
}

#background {
  background-attachment: fixed;
  background-image: url("./background.jpg");
  background-size: cover;
  min-height: 100vh;
}

#form {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 10vw;
  display: flex;
  margin: 5vw 10vw 5vw 10vw;
  padding: 2.5vw;
  -webkit-backdrop-filter: blur(4px);
}

#form button {
  background: rgb(199, 180, 159);
  border: 0;
  border-radius: 60vw;
  cursor: pointer;
  height: 10vw;
  width: 10vw;
}

#form button:hover {
  background-color: coral;
}

#form button img {
  filter: invert(100%);
  width: 5vw;
}

#form input {
  background: transparent;
  border: 0;
  flex: 1;
  font-size: 3vw;
  outline: none;
  padding-left: 5vw;
}

#guyala {
  position:fixed;
  right: -2vw;
  width: 20vw;
  z-index: 1;
}

#guyala:hover {
  transform: translate(-2vw);
  transition: 0.2s;
}

#heading {
  font-size: 4vw;
}

#information-container {
  backdrop-filter: blur(4px); /* This one works for Chromium browsers */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10vw;
  margin: 5vw 10vw 5vw 10vw;
  opacity: 0;
  padding: 2.5vw 5vw;
  text-align: justify;
  -webkit-backdrop-filter: blur(4px); /*This one works for Safari */
}

#organic-light {
  background: green;
}

#recycling-light {
  background:gold;
}

#reminder {
  background: rgb(199, 180, 159);
  margin-top: 12vw;
}

#specialist-recycler-light {
  background:royalblue;
}

#tagline {
  font-size: 3vw;
  margin: 5vw 10vw 5vw 10vw;
  padding-top: 7vw;
  text-align: center;
}

#title {
  font-size: 9vw;
  margin: -3vw 10vw 8vw 10vw;
  text-align: center;
}

#traffic-light-container {
  display: flex;
  justify-content: space-around;
  margin: 5vw 8vw 5vw 8vw;
}

#transfer-station-light {
  background: purple;
}

#waste-light {
  background:crimson;
}

@media only screen and (min-width: 768px) {
  /* Classes */
  .banner {
    border-radius: 5vw;
    margin: 2.5vw 30vw 3vw 30vw;
    padding: 2.5vw 5vw;
  }

  .body {
    font-size: 1.5vw;
  }

  .on:hover {
    font-size: 1.5vw;
    height: 8vw;
    width: 8vw;
  }

  .traffic-light {
    height: 5vw;
    width: 5vw;
  }

  /* Ids */
  #acknowledgement {
    background: coral;
    margin-bottom: 10vw;
  }

  #form {
    margin: 2.5vw 30vw 2.5vw 30vw;
    padding: 1vw;
  }

  #form button {
    height: 5vw;
    width: 5vw;
  }

  #form button img {
    width: 2.5vw;
  }

  #form input {
    font-size: 1.5vw;
    padding-left: 2.5vw;
  }

  #heading {
    font-size: 2vw;
  }

  #information-container {
    border-radius: 5vw;
    margin: 2.5vw 30vw 2.5vw 30vw;
    padding: 2.5vw 5vw;
  }

  #reminder {
    background: rgb(199, 180, 159);
    margin-top: 3vw;
  }

  #tagline {
    font-size: 1.5vw;
    padding-top: 3.5vw;
    margin: 5vw 30vw 5vw 30vw;
  }

  #title {
    font-size: 5vw;
    margin: -4vw 30vw 7vw 30vw;
  }

  #traffic-light-container {
    margin: 1vw 28.4vw 2.5vw 28.4vw;
  }
}
